 
      <div class="row flex justify-content-between mb-3 card-container" style="gap: 25px;">
        <p-card header="{{ 'driver_summary' | translate }}" subheader="Driver Details" [style]="{borderRadius:'20px'}" class="card-item">
          <p>Driver summary information goes here.</p>
        </p-card>
  
        <p-card header="{{ 'trucks_overview' | translate }}" subheader="Truck Overview" [style]="{borderRadius:'20px'}" class="card-item">
          <p>Truck overview information goes here.</p>
        </p-card>
  
        <p-card header="{{ 'performance' | translate }}" subheader="Performance" [style]="{borderRadius:'20px'}" class="card-item">
          <p>Performance information goes here.</p>
        </p-card>
  
        <p-card header="{{ 'notifications' | translate }}" subheader="Notifications" [style]="{borderRadius:'20px'}" class="card-item">
          <p>Notification details go here.</p>
        </p-card>
      </div>
    
  
    <!-- Second Row: Two larger cards with proper spacing -->
    
      <div class="row flex justify-content-center card-container" style="gap: 35px;">
        <p-card header="{{ 'cargo_summary' | translate }}" subheader="Cargo Summary" [style]="{borderRadius:'20px'}" class="large-card-item">
          <p>Cargo summary information goes here.</p>
        </p-card>
  
        <p-card header="{{ 'job_requests' | translate }}" subheader="Job Requests" [style]="{borderRadius:'20px'}" class="large-card-item">
          <p>Job request information goes here.</p>
        </p-card>
      </div>
      <p-card header="Live Tracking Summary">
        <p><p>

      </p-card>
