<!--<div class="loading-overlay" *ngIf="isLoading">
  <div class="loading-spinner">
    <div class="spinner-circle"></div>
    <div class="spinner-circle"></div>
    <div class="spinner-circle"></div>
    <div class="spinner-circle"></div>
  </div>
  <p class="loading-text">Loading, please wait...</p>
</div>-->

<div class="loading-overlay" *ngIf="isLoading">
  <div class="cube-spinner">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  </div>
  <p class="loading-text">Hold tight, we're loading...</p>
</div>

